/* style for navigation bar */
header {
    background-color: grey;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    color: white;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

header nav ul li img {
    height: 30px;
    width: auto;
}

header nav ul li p {
    color: white;
    margin: 0;
}

.slogan {
    /*em is the relative unit.Here, 0.8em means 0.8 times the current font of parent tag*/
    font-size: 0.8em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: orangered;
    background-color: white;
    padding: 5px 10px;
}

/* Style for footer */
footer p {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
}